---
export const prerender = true;
import Base from "#layouts/Base.astro";
import * as fruitAustraliaPage from "#content/fruit-australia.md";

const { title, description, headline } = fruitAustraliaPage.frontmatter;
---

<Base>
  <Fragment slot="head">
    <title>{title}</title>
    <meta name="description" content={description} />
  </Fragment>

  <main id="main" class="container" data-sb-object-id="src/content/fruit-australia.md">
    <section class="pt-header pb-[4em]">
      <h1 class="font-display text-6xl font-bold" data-sb-field-path="headline">
        {headline}
      </h1>
    </section>
  </main>
</Base>
