---
import Base from "#layouts/Base.astro";
import { Icon } from "astro-icon/components";
---

<Base>
  <main class="px-container py-48">
    <div class="typography text-center mx-auto w-fit">
      <p class="text-xl">404</p>
      <h1 class="text-6xl">
        Page not found
      </h1>
      <p>
        Sorry, we couldn't find the page you're looking for.
      </p>
      <a class="inline-flex items-center gap-2" href="/">
        <Icon name="heroicons:arrow-left" />
        <span>Go back home</span>
      </a>
    </div>
  </main>
</Base>
