---
import Base from "#layouts/Base.astro";
import { Icon } from "astro-icon/components";
---

<Base>
  <Fragment slot="head">
    <title>Page Not Found</title>
  </Fragment>

  <main class="container pt-header typography">
    <div class="mx-auto w-fit text-center">
      <div class="hgroup">
        <p>404</p>
        <h1>Page Not Found</h1>
      </div>
      <p>Sorry, we couldn't find the page you're looking for.</p>
      <a class="inline-flex items-center gap-2" href="/">
        <Icon name="heroicons:arrow-left" aria-hidden="true" />
        <span>Go back home</span>
      </a>
    </div>
  </main>
</Base>
