---
import Base from "@layouts/Base.astro";
---

<Base>
  <main id="main">
    <section class="pt-32 pb-16 px-container typography">
      <h1>Title</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eligendi voluptatum? Iste molestias rerum quos consequatur dicta? Officia, suscipit ad distinctio esse autem ex. Pariatur iste aliquid aperiam odio soluta?</p>
      <button class="button">Hi</button>
    </section>
  </main>
</Base>
