---
import Base from "#layouts/Base.astro";
---

<Base>
  <main id="main" class="typography container">
    <div class="pt-header grid grid-cols-2">
      <div>
        <h1>Our Apples</h1>
        <p>Mr Apple is New Zealand's largest integrated grower, packer and exporter of apples, sending 25% of New Zealand's apple crop to key markets around the world.</p>
        <p>From the start, we’ve only ever done apples – it’s what we’re passionate about.  It sounds crazy – but we do love apples – and we may be a little obsessed.  We always believe we can do better – our 5 point promise shows the commitment we have to growing safe, crunchy and delicious apples.</p>
      </div>
    </div>

    <div>Apple Grid</div>

    <h2 id="apple-variety-availability">Apple Variety Availability</h2>

    <div class="table-container" role="region" aria-labelledby="apple-variety-availability" tabindex="0">
      <table>
        <thead>
          <tr>
            <th class="text-nowrap">Apple Variety</th>
            <th>January</th>
            <th>February</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Royal Gala</td>
            <td class="bg-primary-solid"></td>
            <td class="bg-primary-solid"></td>
            <td class="bg-primary-solid"></td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Pink Lady</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Granny Smith</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</Base>