---
import Base from "#layouts/Base.astro";
import { Icon } from "astro-icon/components";
import "leaflet/dist/leaflet.css"
---

<Base>
  <main id="main">
    <section class="pt-32 pb-16">
    </section>

    <section class="grid grid-cols-2 card w-full">
      <div class="min-h-[500px] h-full isolate" id="map" data-controller="map" data-map-lat-value="-34.9032" data-map-lng-value="138.9317" data-map-zoom-value="12" class="h-[500px] rounded isolate">
      </div>
      <div class="typography px-8 py-16 border-l border-solid border-neutral-6 pr-container overflow-y-scroll">
        <h2 class="mt-0">Test</h2>
        <div class="divide-y">
          <div data-controller="disclosure">
            <h3 class="mt-0">
              <button class="button px-0 w-full group underline" data-disclosure-target="button" aria-expanded="true">
                <span class="grow">
                  Test
                </span>
                <Icon
                class="group-aria-expanded:rotate-180 transition-transform"
                  name="heroicons:chevron-down"
                  aria-hidden="true"
                />
              </button>
            </h3>
            <div class="overflow-hidden grid grid-rows-[0fr] data-[expanded]:grid-rows-[1fr] transition-all duration-300" data-disclosure-target="panel" data-expanded="true">
              <div class="min-h-0 typography" style="--typography-scale: 0.875">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iusto odit, veritatis amet et rerum doloremque reprehenderit aliquid debitis eum illum exercitationem quaerat. Perferendis magni, ipsum rem earum harum facere.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</Base>
    
<script>
  import Map from "#controllers/map";
  import L from "leaflet";

  document.addEventListener("stimulus:loaded", () => {
    window.Stimulus.register("map", Map);

    document.getElementById("map")!.addEventListener("map:loaded", (event: any) => {
      const map = event.detail;

      let customIcon = L.icon({
        iconUrl: '/apple.png',
        iconSize: [30, 30],
        iconAnchor: [15, 15],
        className: ''
      });

      let marker = L.marker([-34.9032, 138.9317], { icon: customIcon }).addTo(
        map
      );

      let markerEl = marker.getElement();
    });
  });
</script>

<style is:global>
  .leaflet-container {
    font-size: inherit;
    font-family: inherit;
  }
</style>
