---
import Base from "#layouts/Base.astro";
---

<Base>
  <main id="main" class="typography container">
    <section class="pt-header">
      <h2 id="apple-variety-availability">Apple Variety Availability</h2>
      <div class="table-container" role="region" aria-labelledby="apple-variety-availability" tabindex="0">
        <table>
          <thead>
            <tr>
              <th class="text-nowrap">Apple Variety</th>
              <th>January</th>
              <th>February</th>
              <th>March</th>
              <th>April</th>
              <th>May</th>
              <th>June</th>
              <th>July</th>
              <th>September</th>
              <th>October</th>
              <th>November</th>
              <th>December</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Royal Gala</td>
              <td class="bg-primary-background-element"></td>
              <td class="bg-primary-background-element"></td>
              <td class="bg-primary-background-element"></td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Pink Lady</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Granny Smith</td>
              <td>1</td>
              <td>1</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
</Base>