---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Logo from "#assets/logo.png";
---

<header
  id="header"
  class="bg-neutral-background-subtle container sticky top-0 left-0 z-10 w-full border-b py-2"
  up-keep="true"
>
  <nav aria-label="primary">
    <ul class="flex items-center">
      <li class="grow">
        <a class="block" href="/">
          <Image
            class="h-[80px] w-auto"
            slot="logo"
            src={Logo}
            alt="Adelaide Hills Fresh Logo"
            height="200"
            quality="max"
            loading="eager"
          />
          <span class="sr-only">Home</span>
        </a>
      </li>
      <li data-controller="disclosure">
        <button
          class="button icon group peer justify-center lg:hidden"
          data-disclosure-target="summary"
        >
          <Icon
            class="text-2xl group-aria-expanded:hidden"
            name="heroicons:bars-3"
            aria-hidden="true"
          />
          <Icon
            class="hidden text-2xl group-aria-expanded:block"
            name="heroicons:x-mark"
            aria-hidden="true"
          />
          <span class="sr-only">Mobile Menu</span>
        </button>
        <ul
          class="bg-neutral-background-subtle absolute top-full left-0 hidden h-screen w-full items-center border-t py-1 px-4 data-[expanded]:block lg:static lg:flex lg:h-max lg:bg-transparent lg:py-0 lg:px-0 [&>li>.button]:justify-center [&>li>.button]:px-[1em] lg:border-0"
          data-disclosure-target="details"
        >
          <li>
            <a class="button w-full" href="/about-us">
              <span class="grow">About Us</span>
            </a>
          </li>
          <li>
            <a class="button w-full" href="/our-apples"
              ><span class="grow">Our Apples</span></a
            >
          </li>
          <li>
            <a class="button w-full" href="/fruit-australia"
              ><span class="grow">Fruit Australia</span></a
            >
          </li>
          <li
            class="relative"
            data-controller="disclosure popover"
            data-popover-placement-value="top-start"
          >
            <button
              class="button group w-full"
              data-disclosure-target="summary"
              data-popover-target="anchor"
            >
              <span class="grow">Our Operation</span>
              <Icon
                class="transition-transform group-aria-expanded:rotate-180"
                name="heroicons:chevron-down"
                aria-hidden="true"
              />
            </button>
            <ul
              data-disclosure-target="details"
              data-popover-target="popover"
              class="lg:bg-neutral-background-subtle invisible static top-0 left-0 hidden origin-top rounded transition-[visibility,opacity,transform] data-[expanded]:visible data-[expanded]:block data-[expanded]:opacity-100 lg:absolute lg:w-max lg:scale-95 lg:border lg:p-1 lg:opacity-0 lg:data-[expanded]:scale-100"
            >
              <li>
                <a class="button w-full" href="/sustainability">
                  <span class="grow">Sustainability</span>
                </a>
              </li>
              <li>
                <a class="button w-full" href="/our-orchards">
                  <span class="grow">Our Orchards</span>
                </a>
              </li>
              <li>
                <a class="button w-full" href="/our-facility">
                  <span class="grow">Our Facility</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="button w-full" href="/employment">
              <span class="grow"> Employment </span>
            </a>
          </li>
          <li>
            <a class="button w-full" href="/blog">
              <span class="grow"> Blog </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
