---
import "#styles/global.css";
import Header from "#components/Header.astro";
import Footer from "#components/Footer.astro";
import { ViewTransitions, fade } from "astro:transitions";

// @ts-ignore
// import { VisualEditing } from '@sanity/astro/visual-editing';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ffffff" />
    <meta name="color-scheme" content="light dark" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <ViewTransitions /> -->
    <slot name="head" />
  </head>
  <body class="text-[1.125rem]">
    <Header />

    <slot />

    <!-- <VisualEditing enabled={true} zIndex={1000} /> -->

    <Footer />

    <script>
      import { Application } from "@hotwired/stimulus";
      import Map from "#controllers/map";
      import Carousel from "#controllers/carousel";
      import Disclosure from "#controllers/disclosure";
      import Tabs from "#controllers/tabs";
      import Popover from "#controllers/popover";
      import "unpoly";

      window.up.log.disable();

      window.up.link.config.followSelectors.push("a[href]");
      window.up.link.config.instantSelectors.push("a[href]");
      window.up.link.config.preloadSelectors.push("a[href]");

      window.up.form.config.submitSelectors.push("form");

      window.Stimulus = Application.start();
      window.Stimulus.register("map", Map);
      window.Stimulus.register("carousel", Carousel);
      window.Stimulus.register("disclosure", Disclosure);
      window.Stimulus.register("tabs", Tabs);
      window.Stimulus.register("popover", Popover);
    </script>
  </body>
</html>
